
#mainNav {
    background-color: rgba(0,0,0,0.5) ;
    transition: all 0.3s;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#mainNav.shrink #navbarToggler ul li a {
    font-size: 15px;
}
#mainNav.shrink {
    padding-top:10px !important;
    padding-bottom: 10px !important;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.3s;
}
.cover-carousels {
    position:relative;
}
.cover-carousels #jackets {
    height: 432px;
    width: 432px;
}
.cover-carousels #hoodies {
    height: 432px;
    width: 397px;
}
.cover-carousels #tees {
    height: 721px;
    width: 690px;
}
#shoes {
    height: 289px;
    width: 829px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body {
    height:1000px;
}



